body {
  z-index: -20;
  background-color: #f0ebf7;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23186fed' fill-opacity='0.32'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.padding {
  padding: 4px 20px;
}

.modal {
  animation: modalOpenAnimation 2s;
}
.opacity {
  background: rgba(255, 255, 255, 0.3);
}
.justify-end {
  justify-content: end;
}
.opacity:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

@keyframes modalOpenAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* star animation */
.star {
  animation: costom 4s infinite;
}
@keyframes costom {
  0% {
    color: purple;
  }
  25% {
    color: red;
    transform: scale(1.2);
  }
  50% {
    color: gray;
  }
}
.flex{
  display:flex,
  gap:8px,
  items:center,
}
